
<div class="landingcontainer">
    <app-header></app-header>
    <div class="landinglogin flex row align-items-center stripe-long-shadow">
        <div class="left">
            <img src="../../assets/pantheonlogo.png" alt="">
        </div>
        <div class="right flex column align-items-center">
            <h3>Inicio de Sesion</h3>
            <div class="userfield material-shadow"></div>
            <div class="passfield material-shadow"></div>
            <button><a routerLink="session">Inicio</a></button>
        </div>
    </div>
    <app-footer></app-footer>
</div>